body{
    padding:0;
    margin:0;
    background-color: rgb(2, 60, 175);
    color: white;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
main{
    width: 100%;
    max-width:100%;
    Margin:0;
    Padding:0;
}
header{
    background-color:rgb(140, 150, 157);
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1;
    padding: 1;


}
menu.ul{
    margin:0;
    padding:0;
    width: 100px;
}
menu.li{
    background-color: rgb(140, 150, 157);
    
}